.sbs-slider-container {
    position: relative;
    width: fit-content;
    margin-bottom: 28px;
}

.sbs-slider {
    /* width: 500px;
    height: 200px; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sbs-content-wrapper {
    display: flex;
    transition: 0.5s;
    height: 100%;
    
}

.sbs-content {
    height: 100%;
    flex-shrink: 0;
}
.sbs-controls {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.sbs-controls > .sbs-buttons {
    display: flex;
    gap: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 8px);

}

.sbs-radio-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}

.sbs-radio-button.sbs-active {
    background-color: pink;
}

.sbs-prev {
    position: absolute;
    left: 4px;
    bottom: 4px;
}

.sbs-next {
    position: absolute;
    right: 4px;
    bottom: 4px;
}